.card {
  position: relative;
  min-height: 30ch;
  &Side {
  padding: 10px 20%;
    min-height: 30ch;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-size: cover;

    &Front {
      color: white;
      background: linear-gradient(#4a56b0, #5794fc);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &Back {
      color: white;
      background: linear-gradient(#4a56b0, #5794fc);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
