.footer {
  background: #333;
  .box-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 1.5rem;
    .box {
      width: 30%;
      padding: 1rem 0;
      p {
        font-size: 14px;
        color: #eee;
      }
      a {
        display: block;
        padding: 0.7rem 0;
        color: #eee;
        &:hover {
          color: orange;
          text-decoration: underline;
        }
      }
      h3 {
        font-size: 18px;
        padding: 0.3rem 0;
        color: #fff;
      }
    }
  }
  .credit {
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    span {
      color: orange;
    }
  }
}
