.swiper-wrapper {
  padding: 10px 0;
}
.ant-btn {
  font-weight: 600;
  border: none;
}
.ant-drawer{
  border: none !important;
}
.ant-drawer-body {
  padding: 0 !important;
  .anticon-close{
    padding: 5px;
    &:hover{
      scale: 1.3;
    }
  }
}
.ant-input {
  min-height: 55px;
}
.ant-input-group-wrapper {
  overflow: hidden;
}
.ant-input-group {
  height: 100% !important;
  font-weight: bold;
  .ant-input-affix-wrapper {
    height: 100% !important;
    border: none !important;
  }
  .ant-input-group-addon {
    background-color: #e6e6e6;
    &:last-child {
      padding: 0 10px !important;
      inset-inline-start: 0 !important;
      svg {
        font-size: 20px !important;
      }
    }
  }
  .ant-input {
    padding: 0 5px !important;
    min-height: 100% !important;
  }
  .ant-btn-default {
    line-height: 0 !important;
    box-shadow: none !important;
  }
}
.ant-picker {
  position: relative;
  min-height: 55px;
  width: 100%;
  input {
    font-size: 16px !important;
  }
}
.ant-picker-panel-container {
  .ant-picker-header {
    background-color: #3d75fc !important;
    color: white !important;
    .ant-picker-month-btn {
      &:hover {
        color: #f1e562 !important;
      }
    }
    .ant-picker-year-btn {
      &:hover {
        color: #f1e562 !important;
      }
    }
    .ant-picker-header-super-prev-btn {
      color: white !important;
    }
    .ant-picker-header-prev-btn {
      color: white !important;
    }
    .ant-picker-header-next-btn {
      color: white !important;
    }
    .ant-picker-header-super-next-btn {
      color: white !important;
    }
  }
  .ant-picker-content {
    .ant-picker-cell-inner {
      border-radius: 50% !important;
      &:before {
        border-radius: 50% !important;
      }
    }
    .ant-picker-cell-selected {
      .ant-picker-cell-inner {
        color: #3d75fc;
        background-color: #f1e562;
      }
    }
  }
}
.ant-card-body {
  padding: 0 !important;
  height: 100% !important;
}
.ant-modal-footer {
  display: none;
}
.anticon svg {
  display: block;
}
.ant-message-notice-content {
  min-width: 300px !important;
  padding: 0px !important;
}
.ant-message-custom-content {
  padding: 10px 20px !important;
  border-radius: 8px !important;
}
.ant-message-error {
  color: red;
}
.ant-message-success {
  color: green;
}
.ant-tabs-tab {
  padding-bottom: 5px !important;
}
.ant-dropdown {
  position: fixed;
}
textarea {
  min-height: 100px !important;
}
.ant-select-selector {
  border: 1px solid #8d8d8d !important;
}
.ant-spin {
  height: 100vh !important;
  max-height: none !important;
}
